<template>
    <div>
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <div >
                <table class="table table-bordered">
                    <thead>
                    <th>
                        avatar
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Message
                    </th>
                    </thead>
                <tbody v-for="commit in commits">
                <tr>
                    <td>
                        <img v-bind:src="commit.commit.avatar_url" height="30px" width="30px" style="border-radius: 10%"/>
                    </td>
                    <td>
                        {{commit.commit.author.name}}
                    </td>
                    <td>
                       committed on {{commit.commit.author.date}}
                    </td>
                    <td>
                        {{commit.commit.message}}
                    </td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>

</template>
<script>
    export default {
        //get all commits of a repo
        mounted(){
            this.GitHubAPI.get('/repos/'+this.username+'/'+this.repo_name+'/commits',{}, (response) => {
                this.commits=response.body
            })
        },
        props: ['username','repo_name']
        ,
        data(){
            return{
                commits: []
            }
        }
    }
</script>