<template>
    <div class="col-md-12">
     <div class="col-md-2">

     </div>
        <div v-if="myGitHubData.repositories.length" class="col-md-10">
            <table class="table table-stripped">
                <thead style="color: blue;">
                <th @click="Commits(repo_name)">
                    ({{commits}}) Commits
                </th>
                <th @click="Branches(repo_name)">
                    ({{branches}}) Branches
                </th>
                <th @click="Releases(repo_name)">
                    ({{releases}}) Releases
                </th>
                </thead>
                <thead>
                <th></th>
                </thead>


                <tbody v-for="repo in myGitHubData.repositories">

                    <tr>
                    <td colspan="2">
                        <i v-if="repo.type=='dir'" @click="view_files(repo.name)" class="far fa-folder fa-2x" style="text-decoration: underline">  {{repo.name}}</i>
                        <i v-if="repo.type=='file'" @click="view_it(repo.html_url)" class="far fa-file fa-2x" style="text-decoration: underline">  {{repo.name}}</i>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div v-if="!myGitHubData.repositories.length">
            <h4 class="text-center"><i class="fas fa-empty-set fa-3x">Empty Repository</i></h4>
        </div>
    </div>
</template>
<script>
    export  default {
         //get no of commits , branches and releases
        //get all repositories
         mounted(){
             this.GitHubAPI.get(this.urls, {}, [this.myGitHubData, 'repositories'])
             this.GitHubAPI.get('/repos/'+this.username+'/'+this.repo_name+'/commits', {}, (response) => {
                 this.commits=response.body.length
             })
             this.GitHubAPI.get('/repos/'+this.username+'/'+this.repo_name+'/branches', {}, (response) => {
                 this.branches=response.body.length
             })
             this.GitHubAPI.get('/repos/'+this.username+'/'+this.repo_name+'/releases', {}, (response) => {
                 this.releases=response.body.length
             })
         }
         ,
        props:['username','repo_name']
        ,
        data(){
             return{
                 myGitHubData: {},
                 urls:'/repos/'+this.username+'/'+this.repo_name+'/contents',
                 commits: 0,
                 branches: 0,
                 releases: 0
             }
        },
        methods:{
            //view files of a repo
            view_files: function ($repo_name) {
                this.myGitHubData={}
                this.urls=this.urls+'/'+$repo_name;
                this.GitHubAPI.get(this.urls, {}, [this.myGitHubData, 'repositories'])

            },
            //nested files
            view_it: function ($url) {
                window.location.href = $url

            },
            //view commits list
            Commits:function ($repo_name) {
                window.location.href = "http://127.0.0.1:8000/commits/"+$repo_name
            },
            //view branches list
            Branches: function ($repo_name) {
                window.location.href = "http://127.0.0.1:8000/branches/"+$repo_name
            },
            //view releases list
            Releases: function ($repo_name) {
                window.location.href = "http://127.0.0.1:8000/releases/"+$repo_name
            }
        }


    }
</script>