<template>
    <div class="col-md-12">
        <div class="col-md-5">
            <i class="fas fa-edit fa-2x"> Edit Repository  {{this.repo_name}}</i>
        </div>
        <div class="col-md-7 class-text">
            <h4>Edit Repository</h4>
            <form @submit.prevent="updateRepo" method="post">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control col-md-4" placeholder="Name" v-model="name" required/>
                </div>
                <div class="form-group col-md-6">
                    <textarea class="form-control col-md-4" placeholder="Description" v-model="description" required></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="private">Private</label>
                    <input type="checkbox" class="form-control col-md-4"  id="private" name="private"  checked required/>
                </div>
                <div class="form-group col-md-6">
                    <p>By creating a Repo you Agree to  the terms and conditions</p>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Update Repository</button>
                </div>
            </form>
        </div>
    </div>

</template>
<script>
    export default {
        mounted(){
            console.log(this.username)
        },
        props: ['username','repo_name']
        ,
        data(){
            return{
                name: '',
                description: ''
            }
        },
        methods:
            {
                //update a repository
                updateRepo: function () {
                    console.log('here')
                    let data = {
                        "name": this.name,
                        "description": this.description,
                        "homepage": "https://github.com",
                        "private": false,
                        "has_issues": true,
                        "has_projects": true,
                        "has_wiki": true
                    }
                    this.GitHubAPI.post('/repos/'+this.username+'/'+this.repo_name, data, (response) => {
                        window.location.href = "http://127.0.0.1:8000/home"
                    })
                }
            }

    }
</script>