<template>
    <div class="panel panel-default">
        <div class="panel-heading text-center"><i class="fab fa-bitbucket fa-2x">My Repositories </i></div>
        <div  class="panel-body" >
        <table class="table table-stripped">
            <thead>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
            <th>
                Action
            </th>
            </thead>


              <tbody  v-for="repo in myGitHubData.repositories">

              <tr>
                  <td>
                      <i @click="view_files(repo.name)" class="far fa-folder fa-2x" style="text-decoration: underline">  {{repo.name}}</i>
                  </td>
                  <td>
                      <button @click="edit(repo.name)" class="btn btn-success">Edit</button>
                  </td>
                  <td>
                      <button @click="deleteRepo(repo.name)"  class="btn btn-danger">Delete</button>
                  </td>
              </tr>
              </tbody>

           </table>
        </div>

    </div>
</template>

<script>
    export default {
        //main entry to user account repos
        mounted() {
            this.GitHubAPI.get('/users/'+this.username+'/repos', {}, [this.myGitHubData, 'repositories'])
        },
        props: ['username']
        ,
        data(){
            return{
                myGitHubData: {}
            }
        },
        methods:{
            //edit repo details
            edit: function ($repo_name) {
                console.log($repo_name)
                window.location.href = "http://127.0.0.1:8000/edit_repo/"+$repo_name
            },
            //delete a repository
            deleteRepo: function ($repo_name) {
                let data = {
                    "name": null,
                    "description": null,
                    "homepage": null,
                }
                this.GitHubAPI.post('/repos/'+this.username+'/'+$repo_name,{}, (response) => {
                    window.location.href = "http://127.0.0.1:8000/home"
                })
            },
            //open a repo files and content
            view_files: function ($repo_name) {
                window.location.href = "http://127.0.0.1:8000/contents/"+$repo_name
            }
        }
    }
</script>
