<template>
    <div class="col-md-10">

        <div  class="col-md-6" v-if="releases.length">

        </div>
        <div v-if="!releases.length" class="col-md-6">
            <p           style="font-size: large">There aren’t any releases here Releases are powered by tagging specific points of history in a repository. They’re great for marking release points like v1.0.</p>
        </div>

    </div>
</template>
<script>
    export default {
        //get list of releases
        onmounted(){
            this.GitHubAPI.get('/repos/'+this.username+'/'+this.repo_name+'/releases', {}, (response) => {
                console.log(response.body)
                this.releases=response.body
            })
        }

        ,
    props: ['username','repo_name']
        ,
        data(){
        return{
            releases: []
        }
    }



    }
</script>