<template>
  <div class="panel-body text-center">
    <form class="form-horizontal" @submit.prevent="createRepo" method="post">
        <div class="col-md-6">
            <input type="text" class="form-control col-md-4" placeholder="Name" v-model="name" required/>
        </div>
        <div class="col-md-6">
            <textarea class="form-control col-md-4" placeholder="Description" v-model="description" required></textarea>
        </div>
        <div class="col-md-6">
            <label for="name">Private</label>
            <input type="checkbox" class="form-control col-md-4"  id="name" name="private" v-model="status" checked required/>
        </div>
        <div class="col-md-6">
            <p>By creating a Repo you Agree to  the terms and conditions</p>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Create Repository</button>
        </div>
    </form>
  </div>
</template>
<script>
    export default {
        mounted(){

        },
        data(){
            return{
                name: '',
                description: '',
                status: true,
                myGitHubData: {}
            }
        },
    props: ['username']
        ,
        methods:{
           // create a new repository
            createRepo: function () {
                console.log(this.username)
                let data = {
                    "name": this.name,
                    "description": this.description,
                    "homepage": "https://github.com",
                    "private": false,
                    "has_issues": true,
                    "has_projects": true,
                    "has_wiki": true
                }
                this.GitHubAPI.post('/user/repos', data, (response) => {
                    window.location.href = "http://127.0.0.1:8000/home"
                })
            }
        }
    }
</script>